@import "./github-corner";

// Apply a natural box layout model to all elements
// but allowing components to change
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
html {
  height: 100%;
  margin: 0;
}

h1 {
  text-align: left;
  margin: .5em 1em;
  display: inline-block;
}

.content,
.canvas {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  top: 0;
  position: absolute;
  height: 100%;
  margin: 0;
  width: 100%;
  cursor: crosshair;
}

@import "./polygon-chart";
