$polygon-centroid-color: rgba(167, 20, 20, 0.8);
$inaccessibility-pole-color: rgba(20, 167, 64, 0.8);
$bounding-box-centroid-color: rgba(20, 96, 167, 0.8);
$hull-centroid-color: rgba(167, 20, 144, 0.8);

.mark {
  pointer-events: none;

  .mark-cross,
  .mark-decoration {
    fill: none;
  }

  &.polygon-centroid {
    stroke: $polygon-centroid-color;
  }
  &.hull-centroid {
    stroke: $hull-centroid-color;
  }
  &.bounding-box-centroid {
    stroke: $bounding-box-centroid-color;
  }
  &.inacessibilty-pole {
    stroke: $inaccessibility-pole-color;
  }
}
